/* ==================================================================
    COLOR SCHEME AND VARIABLES
================================================================== */

[data-theme="light"] {
  --background-color: #ffffff;
  --gray-color: var(--gray-color);;
  --highlight-color: #b509ac;
  --highlight-color-brighter: #e042da; /* 50% brighter */
  --highlight-color-darker: #5a0556; /* 50% darker */
  --line-color: #ECF5F9;
  --table-border-color: black;
  --dark-grey: #101010;
  --text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #000000;
  --gray-color: darkgrey;
  --highlight-color: #41a1c6;
  --highlight-color-brighter: #a8d3e6; /* 50% brighter */
  --highlight-color-darker: #205063; /* 50% darker */
  --line-color: #130A06;
  --table-border-color: white;
  --dark-grey: #EFEFEF;
  --text-color: #ffffff;
}

/* ==================================================================
    VARIABLES
================================================================== */

:root {
  --small: 14px;
  --normal: 19px;
  --menu: 16px;
}

li > p {margin: 0}

/* ==================================================================
    DEFAULT FONT AND LAYOUT
================================================================== */

html {
  font-family: "Roboto", sans-serif;
  /* font-family: Helvetica, Arial, sans-serif;*/
  font-size: var(--normal);
  color: var(--text-color);
  background: var(--background-color);
}

/* ==================================================================
    BASIC GRID FOR PROFILE PIC
================================================================== */

.franklin-content .row {
  display: block;
}

.franklin-content .left {
  float: left;
  margin-right: 15px;
}

.franklin-content .right {
  float: right;
}

.franklin-content .container img {
  width: auto;
  padding-left: 0;
  border-radius: 10px;
}

.franklin-content .footnote {
  position: relative;
  top: -0.5em;
  font-size: 70%;
}

.floatleft {
  width: auto;
  float: left;
  padding: 0;
  margin-bottom: 1rem;
  margin-left: 0rem;
  margin-right: 2rem;
  border-radius: 10px;
}

.floatright {
  width: auto;
  float: right;
  padding: 0;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 0rem;
  border-radius: 10px;
}

/* ==================================================================
    FOOT / COPYRIGHT
================================================================== */

.franklin-content .page-foot a {
  text-decoration: none;
  text-decoration: underline;
}

.page-foot {
  font-size: 80%;
  font-family: Arial, serif;
  color: var(--gray-color);
  text-align: center;
  margin-top: 6em;
  border-top: 1px solid var(--gray-color);;
  padding-top: 2em;
  margin-bottom: 4em;
}
.page-foot .copyright img {
    padding:0px;
    width:auto;
    text-align:left;
    display:inline;
    margin:0px;
    text-decoration: none;
}

/* ==================================================================
    TEXT GEOMETRY
================================================================== */

.franklin-toc li {
  /* Avoid clickable elements being too close together. */
  margin: 0.6rem 0;
}

.franklin-content {
  margin-top: 3rem !important;
}

.franklin-content, .navbar {
  position: relative;
  padding-left: 12.5%;
  padding-right: 12.5%;
  line-height: 1.35em;
}

/* On wide screens, fix content width to a max value. */
@media (min-width: 940px) {
  .franklin-content, .navbar {
    width: 705px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* On medium / mobile devices -> switch to Hamburger */
@media (max-width: 768px) {
    #navbar-main-menu {
        position: fixed;
        left:200%;
        top: 2rem;
        background-color: var(--background-color);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin-left:-1em;
      }
      #navbar-main-menu.active {
        left:0;
      }
      #navbar-main-menu ul {
        flex-direction: column;
        text-align: right;
      }
      #navbar-main-menu ul li.toggle-container {
        margin-top:1ex;
      }
      nav #navbar-hamburger {
        display:inherit;
      }
      img.floatright, img.floatleft {
        width: auto;
        margin: 0 auto;
        float: none;
        display:block;
        margin-bottom: 1rem;
        border-radius: 10px;
      }
}

/* On narrow device, reduce margins. */
@media (max-width: 480px) {
  .franklin-content, .navbar {
    padding-left: 6%;
    padding-right: 6%;
  }
}

sup a i {
  padding-right: 3px;
}

/* ==================================================================
    TITLES
================================================================== */

.franklin-content h1 { font-size: 28px; }
.franklin-content h2 { font-size: 24px; }
.franklin-content h3 { font-size: 20px; }

.franklin-content h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

.franklin-content h1 {
  padding-bottom: 0.5em;
  border-bottom: 3px var(--line-color);
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.franklin-content h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--line-color);
  margin-top: 2em;
  margin-bottom: 1em;
}

.franklin-content h1 a { color: inherit; }
.franklin-content h1 a:hover { text-decoration: none; }
.franklin-content h2 a { color: inherit; }
.franklin-content h2 a:hover { text-decoration: none; }
.franklin-content h3 a { color: inherit; }
.franklin-content h3 a:hover { text-decoration: none; }
.franklin-content h4 a { color: inherit; }
.franklin-content h4 a:hover { text-decoration: none; }
.franklin-content h5 a { color: inherit; }
.franklin-content h5 a:hover { text-decoration: none; }
.franklin-content h6 a { color: inherit; }
.franklin-content h6 a:hover { text-decoration: none; }

.franklin-content table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}

.franklin-content th,
td {
  font-size: var(--small);
  padding: 10px;
  border: 1px solid var(--table-border-color);
}

.franklin-content blockquote {
  background: var(--block-background);
  border-left: 7px solid var(--gray-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}

.franklin-content blockquote p {
  display: inline;
}

/* ==================================================================
    GENERAL FORMATTING
================================================================== */

/* Spacing between bullet points. */
.franklin-content li p {
  margin: .125rem 0;
}

.franklin-content a {
  color: var(--highlight-color);
  text-decoration: none;
}

.franklin-content a:hover {
  text-decoration: underline;
}

/* ==================================================================
    HYPERREFS AND FOOTNOTES
================================================================== */

.franklin-content .eqref a { color: green; }
.franklin-content .bibref a { color: green; }

.franklin-content sup {
  font-size: 70%;
  vertical-align: super;
  line-height: 0;
}

.franklin-content table.fndef {
  margin: 0;
  margin-bottom: 10px;
}

.franklin-content .fndef tr,
td {
  padding: 0;
  border: 0;
  text-align: left;
}

.franklin-content .fndef tr {
  border-left: 2px solid lightgray;
}

.franklin-content .fndef td.fndef-backref {
  vertical-align: top;
  font-size: 70%;
  padding-left: 5px;
}

.franklin-content .fndef td.fndef-content {
  font-size: 80%;
  padding-left: 10px;
  width: 100%;
}

/* ==================================================================
    IMAGES in CONTENT
================================================================== */

.franklin-content .img-small img {
  width: 50%;
  text-align: center;
  padding-left: 20%;
}

/* ==================================================================
    KATEX
================================================================== */

body { counter-reset: eqnum; }

.katex { font-size: 1em !important; }

.katex-display .katex {
  /* Overwrite KaTeX settings. */
  display: inline-block;

  /* Allow display equations to wrap on small screens. */
  white-space: normal;
}

.katex-display::after {
  counter-increment: eqnum;
  content: "(" counter(eqnum) ")";
  position: relative;
  float: right;
  padding-right: 5px;
}

/* ==================================================================
    CODE & HIGHLIGHT.JS
================================================================== */

code {
  background-color: var(--block-background);
  padding: 0.1em 0.2em;
  border-radius: 2px;
  font-size: var(--small);
}

/* ==================================================================
    BOXES
================================================================== */

.franklin-content .colbox-blue {
  background-color: #eef3f5;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0 10px 10px 0;
  border-left: 5px solid;
}

/* ==================================================================
NAME design slug
================================================================== */

#ronnybergmann {
  position:relative;
  text-align: right;
  white-space: nowrap;
  margin-bottom:-28px;
  margin-top:-12px;
  font-size: 20px;
}
/* Start page a bit larger */
#ronnybergmann.rbmain {
  margin-top: 0px;
  font-size: 28px;
}

#ronnybergmann .firstname {
  font-weight: 700;
}
#ronnybergmann .firstname:after {
  content:" ";
}
#ronnybergmann .lastname {
  font-weight: 300;
}
/* ==================================================================
    MENU
================================================================== */

.header {
  border-bottom: 1px solid var(--gray-color);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar {
/*  border-bottom: 1px solid var(--gray-color); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  opacity: 95%;
}

.navbar .navbar-icons {
  display: inline-block;
}
.navbar .navbar-icons a,
.navbar .navbar-icons a i.ai-orcid {
  color: var(--highlight-color-brighter);
}
.navbar .navbar-icons a:hover,
.navbar .navbar-icons a:hover i.ai-orcid {
  color: var(--highlight-color);
}
.navbar .navbar-menu-container,
.navbar .navbar-hamburger {
  display: inline-block;
  margin-right: 1ex;
  line-height: inherit;
  white-space: nowrap;
  font-size: var(--menu);
  width:auto;
  margin-left:auto;
}

.navbar-menu-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 1ex;
  list-style: none;
  display:flex;
}

.navbar-menu-container ul li,
#navbar-hamburger ul li {
  display: inline;
  padding-left: 1ex;
}
.navbar-menu-container ul li a,
#navbar-hamburger ul li a {
  color: var(--text-color);
  text-decoration: none;
}
.navbar-menu-container ul li.active a {
  color: var(--highlight-color);
}
.navbar-menu-container ul li a:hover {
  color: var(--highlight-color-brighter);
}
.navbar-menu-container ul li.home a {
  font-weight: bold;
}
.navbar-menu-container ul .toggle-container {
  padding-left: 1rem;
}
#theme-toggle, #menu-toggle {
  padding: 0;
  border: 0;
  background-color: inherit;
  color: var(--global-text-color);
  font-size: var(--normal);
}

#theme-toggle i:hover {
  color: var(--highlight-color-brighter);
}

/*
Hamburger
*/

#navbar-hamburger {
  display: none;
}
.hamburger i {
}
/*
LISTS COLORS
*/

ul.nav-icons li a {
  color: var(--highlight-color-brighter);
}

span.highlight {
  color: var(--highlight-color);
}
.error {
  color: #CC3311;
}
span.institute {
  color: var(--highlight-color-brighter);
}
i.ai-orcid {
  color: #a6ce39;
}

dl.courses dd .name a {
  color: var(--highlight-color-brighter);
}
ol.literature li .li-label {
  color: var(--highlight-color);
}