ol.bibliography {
    margin-bottom: .5rem;
    list-style-type: none;
    margin-left: 2ex;
}
.references ol.bibliography {
    counter-reset: bibitem;
    list-style-type: none;
}
ol.bibliography > li:before {
    margin-left: -2em;
    content: "["counter(bibitem) "]";
    padding-right: .5em;
    text-align: right;
}
ol.bibliography > li {
    min-height: 85px;
    counter-increment: bibitem -1;
    padding-bottom:2rem;
    clear: both;
}
ol.bibliography > li abbr {
    font-weight: bold;
    padding-right: 1rem;
}
/*
 * Fields
*/
ol.bibliography li span.title {
    font-weight: bold;
}
ol.bibliography li span.title:before
{
    content: "\A";
    white-space: pre;
}
ol.bibliography li span.volume {
    font-weight: bold;
    margin-left:1ex;
}
ol.bibliography li span.note:before {
    content: ",\00a0";
}

ol.bibliography li span.note:after {
    content: ".";
}
ol.bibliography li span.note {
    font-style: italic;
}
ol.bibliography li span.number:before,
ol.bibliography li span.issue:before
{
    content: "(";
}
ol.bibliography li span.number:after,
ol.bibliography li span.issue:after {
    content: ")";
}
ol.bibliography li span.number {
    margin-left: 0ex;
}
ol.bibliography li span.year:before {
    content: "\00a0(";
}
ol.bibliography li span.year:after {
    content: ").";
}
ol.bibliography li span.pages:before {
    content: ",\00a0\00a0pp.\00a0"
}
ol.bibliography div.item-icon-wrapper {
    margin-top:-2ex;
    float: right;
    width: 125px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
ol.bibliography div.item-icon-wrapper img {
    width: 125px;
    margin:0;
    padding:0;
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

/*
 * Links & nav-icons & logos
 */
ol.bibliography li i.ai-orcid-square,
ol.bibliography li i.ai-orcid {
    color:#a6ce39;
}
ul.nav-icons {
    margin: 0;
    margin-top: .75rem;
    padding: 0;
    display:block;
    /* float: right; */
    margin-bottom: 1rem;
    list-style-type: none;
}
ul.nav-icons li {
    display: inline;
}
ul.nav-icons li a {
    /*
    color: #ECF5F9;
    color: rgba(236, 245, 249, 0.9);
    */
    color: #41a1c6;
    text-decoration: none;
    border-bottom: 0px;
}
div.abstract {
    padding-top:1rem;
}
div.abstract div.content:before{
    content:"Abstract.";
    font-weight: bold;
    padding-right:2rem;
}
div.abstract div.content,
div.bibtex div.content {
    width:94%;
    margin-left:4%;
    margin-right:2%;
    margin-top:-.5rem;
    padding-top:0px;
    padding-bottom:0px;
    font-weight:normal;
    padding-left: 2%;
    border-left: 1px solid black;
}
div.abstract div.content {
    font-size: 66%;
}
div.bibtex div.content {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 50%;
}
.collapse {
    display: none;
}
.collapsing {
    opacity: 0.3;
}
.collapse.in {
    display: block;
}
